.header {
  border-bottom: 1px solid rgba(92, 91, 91, 0.7);
  max-width: 880px;
  padding-top: 45px;
}
.header__logo {
  margin: 0 0 41px 0;
}

@media screen and (max-width: 950px) {
  .header {
    padding-top: 28px;
    padding-bottom: 38.25px;
  }
  .header__logo {
    margin: 0 0 28px 27px;
    width: 126px;
    height: 26px;
  }
}
