.info-popup{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* opacity: 0; */
    pointer-events: none;
    /* transition: visibility 0s 0.3s, opacity 0.3s linear;
    visibility: hidden; */
    display: flex;
    
  }
  .info-popup_open{
  
    visibility: visible;
    pointer-events: all;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear;
}
.info-popup__container {
  position: relative;
  border-radius: 10px;
  width: 430px;
  height: 330px;
  background-size: cover;
  background-color: rgb(255, 255, 255);
  color: black;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}
.info-popup__button-close{
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  background: url("../images/close_button.svg");
  background-repeat: no-repeat;
  top: -10%;
  right: -10%;
}
.info-popup__image{
margin: 60px auto 0;
max-width: 75vw;
max-height: 75vh;
align-self: c;


}
.info-popup__caption{
  margin: 32px auto;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: center;
}

